# {{ ansible_managed }}
interface = {{ dnsmasq_interface | default("wlan0", true) }}
dhcp-range = {{ dnsmasq_dhcprange | default("192.168.245.33,192.168.245.62,8h", true) }} # default: 192.168.245.32/27

{% for server in dnsmasq_servers | default(["37.235.1.174 # FreeDNS", "208.67.222.222 # OpenDNS"], true) %}
server = {{ server }}
{% endfor %}

{% for dhcpoption in dnsmasq_dhcpoptions | default(["3,192.168.245.1", "6,192.168.245.1"], true) %}
dhcp-option = {{ dhcpoption }}
{% endfor %}
