# {{ ansible_managed }}
interface={{ hostapd_interface | default("wlan0", true) }}
ssid={{ hostapd_ssid | default("mitmproxy-router", true) }}
channel={{ hostapd_channel | default("36", true) }}
hw_mode={{ hostapd_hw_mode | default("a", true) }}
macaddr_acl={{ hostapd_macaddr_acl | default("0", true) }}
auth_algs={{ hostapd_auth_algs | default("1", true) }}
country_code={{ hostapd_country_code | default("DE", true) }}
ieee80211ac={{ hostapd_ieee80211ac | default("0", true) }}
ieee80211d={{ hostapd_ieee80211d | default("0", true) }}
ieee80211h={{ hostapd_ieee80211h | default("0", true) }}
ieee80211n={{ hostapd_ieee80211n | default("1", true) }}
wpa={{ hostapd_wpa | default("2", true) }}
wpa_psk_file={{ hostapd_passphrase_file }}
wpa_key_mgmt={{ hostapd_wpa_key_mgmt | default("WPA-PSK", true) }}
wpa_pairwise={{ hostapd_wpa_pairwise | default("TKIP", true) }}
rsn_pairwise={{ hostapd_rsn_pairwise | default("CCMP", true) }}
logger_stdout={{ hostapd_logger_stdout | default("1", true) }}
driver={{ hostapd_driver | default("nl80211", true) }}
